#home-content{
    text-align:center;
}

#home-content a {
    text-decoration:none;
    color:black;
}

.home-thumb {
    width:80%;
    margin-bottom:15em;
}


.home-thumb:hover {
    background-color:#eee;
}
